.main {
    --icon-1-angle: 90deg;
    --icon-2-angle: 210deg;
    --icon-3-angle: 330deg;
    --spin-time: 10s;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem;
    gap: 2rem;
    height: 100%;
    width: 100%;
    max-width: var(--max-width);
}

.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    font-family: var(--font);
    width: 100%;
    height: 100%;
}

.description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

.code {
    font-weight: 700;
    font-family: var(--font);
}

.imageBlock {
    position: relative;
}

.photo {
    position: relative;
    flex-shrink: 0;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 150px;
    overflow: hidden;
    animation: glow-photo 6s infinite linear;
}

.photoHolder {
    animation: glow-photo-hold 6s infinite linear;
    width: 100%;
    height: 100%;
}

.langBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}

.langIcon {
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 16px;
    border: none;
    transform-origin: left top;
    transition: 1s;
}

.langIconHolder {
    width: 100%;
    height: 100%;
}

#iconOne.langIcon { animation: icon-anim-1 var(--spin-time) infinite linear; }
#iconTwo.langIcon { animation: icon-anim-2 var(--spin-time) infinite linear; }
#iconThree.langIcon { animation: icon-anim-3 var(--spin-time) infinite linear; }
#iconOne.langIcon .langIconHolder { animation: icon-hold-1 var(--spin-time) infinite linear; }
#iconTwo.langIcon .langIconHolder { animation: icon-hold-2 var(--spin-time) infinite linear; }
#iconThree.langIcon .langIconHolder { animation: icon-hold-3 var(--spin-time) infinite linear; }

/* .langIcon:hover {
    transform: rotate(360deg);
}

.langIcon:hover + .langIcon {
    animation-play-state: paused;
} */

@keyframes glow-photo {
    0% {
        transform: rotate(0deg);
        box-shadow:  
            0px -50px 60px 30px  #f27121,
            50px 50px 60px 30px  #e94057,
            -50px 50px 60px 30px #8a2387;
    }
    25% {
        transform: rotate(90deg);
        box-shadow: 
            50px 50px 60px 30px  #f27121,
            -50px 50px 60px 30px  #e94057,
            0px -50px 60px 30px #8a2387;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 
            0px 0px 60px 30px  #f27121,
            0px 0px 60px 30px  #e94057,
            0px 0px 60px 30px #8a2387;
    }
    75% {
        transform: rotate(270deg);
        box-shadow: 
            -50px 50px 60px 30px  #f27121,
            0px -50px 60px 30px  #e94057,
            50px 50px 60px 30px #8a2387;
    }
    100% {
        transform: rotate(360deg);
        box-shadow:  
            0px -50px 60px 30px  #f27121,
            50px 50px 60px 30px  #e94057,
            -50px 50px 60px 30px #8a2387;
    }
}

@keyframes glow-photo-hold {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

@keyframes icon-anim-1 {
    from { transform: rotate(var(--icon-1-angle)) translateX(160px); }
    to { transform: rotate(calc(var(--icon-1-angle) + 360deg)) translateX(160px); }
}
@keyframes icon-anim-2 {
    from { transform: rotate(var(--icon-2-angle)) translateX(160px); }
    to { transform: rotate(calc(var(--icon-2-angle) + 360deg)) translateX(160px); }
}
@keyframes icon-anim-3 {
    from { transform: rotate(var(--icon-3-angle)) translateX(160px); }
    to { transform: rotate(calc(var(--icon-3-angle) + 360deg)) translateX(160px); }
}

@keyframes icon-hold-1 {
    from { transform: rotate(calc(-1 * var(--icon-1-angle))); }
    to { transform: rotate(calc(-1 * var(--icon-1-angle) - 360deg)); }
}
@keyframes icon-hold-2 {
    from { transform: rotate(calc(-1 * var(--icon-2-angle))); }
    to { transform: rotate(calc(-1 * var(--icon-2-angle) - 360deg)); }
}
@keyframes icon-hold-3 {
    from { transform: rotate(calc(-1 * var(--icon-3-angle))); }
    to { transform: rotate(calc(-1 * var(--icon-3-angle) - 360deg)); }
}